#built application files
*.apk
*.ap_
# Local configuration file (sdk path, etc)
local.properties

# OSX files
.DS_Store

# Android Studio
*.iml
output.json
.navigation
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
.externalNativeBuild
.cxx
